<p-card header="Evaluación Estudiantes" styleClass="p-card-shadow p-p-3 p-mt-3">
    <form [formGroup]="form" (ngSubmit)="ngOnSubmit()">
        <p-table [columns]="cols" [value]="estudiantes" dataKey="id" editMode="row" [scrollLeft]="true" styleClass="p-datatable-gridlines p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    
                    <!-- <th>Id</th>
                    <th>Documento</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th> -->
                    <th>Calificación</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudiante_curso let-editing="editing" let-ri="rowIndex" let-columns="columns">
                <tr [pEditableRow]="estudiante_curso">
                    <td *ngFor="let col of columns">
                        <span class="p-column-title">{{col.header}}</span>
                        {{estudiante_curso.estudiante[col.field]}}
                    </td>
                    <!-- <td>{{estudiante_curso.estudiante.id}}</td>
                    <td>{{estudiante_curso.estudiante.documento}}</td>
                    <td>{{estudiante_curso.estudiante.primerNombre}}</td>
                    <td>{{estudiante_curso.estudiante.segundoNombre}}</td>
                    <td>{{estudiante_curso.estudiante.primerApellido}}</td>
                    <td>{{estudiante_curso.estudiante.segundoApellido}}</td> -->
                    <td>
                        <div class="p-fluid">
                            <div class="p-field">
                                <p-inputNumber
                                    *ngIf="!calificado(estudiante_curso.estudiante.id); else valorCalificacion"
                                    [ngModel]="0" [formControlName]="estudiante_curso.estudiante.id" mode="decimal"
                                    [showButtons]="true" [min]=1 [max]="maxCalificacion">
                                </p-inputNumber>
                            </div>
                        </div>
                    </td>
                    <ng-template #valorCalificacion>
                        <td>


                            <div class="p-grid p-ai-center vertical-container">
                                <div class="p-col">
                                    <div class="box">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-inputNumber 
                                                    [(ngModel)]="calificado(estudiante_curso.estudiante.id).nota"
                                                    [ngModelOptions]="{standalone: true}" [min]=1 [max]="maxCalificacion" mode="decimal">
                                                </p-inputNumber>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{calificado(estudiante_curso.estudiante.id).nota}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </div>
                                </div>
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" 
                                    class="p-button-rounded p-button-warning" (click)="onRowEditInit(estudiante_curso.estudiante, ri)"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="onRowEditSave(estudiante_curso.estudiante,ri)"
                                    class="p-button-rounded p-button-text p-button-success"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="onRowEditCancel(ri)"
                                    class="p-button-rounded p-button-text p-button-danger"></button>
                                <div class="p-col">

                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger"
                                        (click)="onDelete(estudiante_curso.estudiante.id)">
                                    </button>
                                </div>
                            </div>

                        </td>
                    </ng-template>

                </tr>
            </ng-template>
        </p-table>
        <button pButton pRipple type="submit" label="Confirmar" icon="pi pi-check" class="p-button-rounded p-button-primary p-mt-3"></button>
    </form>
</p-card>

<p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle"></p-confirmDialog>