<div class="p-grid p-mt-2">
  <div class="p-col p-md-6">
    <p-card header="Asistencia al Curso" styleClass="p-card-shadow">
      <p-chart [responsive]="true" type="doughnut" [data]="dataAsistencia" [options]="optionsAsistencia"></p-chart>
      <ng-template pTemplate="footer">
        <p-button label="Clases" icon="pi pi-calendar-plus" title="Clases" [routerLink]="['/curso/clases', cursoId]">
        </p-button>
      </ng-template>
    </p-card>
  </div>
  <div class="p-col p-md-6">
    <p-card header="Calificaciones del curso" styleClass="p-card-shadow">
      <p-chart type="bar" [data]="dataCalificaciones" [options]="optionsCalificaciones" [responsive]="true"></p-chart>
      <ng-template pTemplate="footer">
        <p-button label="Calificaciones" icon="pi pi-percentage" title="Calificaciones" [routerLink]="['/curso/calificaciones', cursoId]">
        </p-button>
      </ng-template>
    </p-card>
  </div>
</div>