/* Add a black background color to the top navigation */
.topnav {
    background-color:#9FA8DA;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0; /*o lo que necesites*/
    min-height: 25px; /*o lo que necesites*/
  }
  
  /* Style the links inside the navigation bar */
    .topnav a{
        float: right;
        
        text-align: center;
        padding:15px 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-decoration: none;
        font-size: 35px;
  }
  
  /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        
  }

  .navbar-nav.navbar-center {
    position: absolute;
   
    left: 50%;
    transform: translatex(-50%);
}

  .navbar-logo{
    
    display: inline-block;
    vertical-align: middle;
    width: 100px;
  }

  .navbar-logo img{
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
    width: 70%;
    height: auto;
  }
    
    .topnav ul {
        display: inline-block;
    }

    button.ui-button {
        margin-right: .5rem;
    }

    body{
      padding: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0
   }
  
  h1 { color: white; }
  
  h2 {
      color: #3f51b5;
      font-family: 'Bebas Neue', cursive;
      padding-top: 0px ;
  }
  
  .modal{
    background-color: white;
  }

  .container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  
  .input{
      padding-bottom: 20px;
  }

  

  ::ng-deep .ui-panelmenu{
    background-color:thistle;
  }