<!-- MODALS -->

<p-dialog [(visible)]="displayEditDialog1"  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    
    <p-header> 
        <h2>Login</h2>
    </p-header>

    <div class="container">
        <div class="input">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Nombre de Usuario</label>
            </span>
        </div>    
        <div class="input">
            <span class="p-float-label">
                <input id="float-input" type="password" pPassword> 
                <label for="float-input">Contraseña</label>
            </span>
        </div>
    </div>
    <p-footer>
        <div>
            <button pButton type="button" class="p-button-raised p-button-rounded">Ingresar</button>
        </div>
    </p-footer>
    
</p-dialog>

<p-dialog [(visible)]="displayEditDialog2"  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    
    <p-header> 
        <h2>Register</h2>
    </p-header>

    <div class="container">
        <div class="input">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Nombre de Usuario</label>
            </span>
        </div>
        <div class="input">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Nombre</label>
            </span>
        </div>
        <div class="input">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Apellido</label>
            </span>
        </div>       
        <div class="input">
            <span class="p-float-label">
                <input id="float-input" type="password" pPassword> 
                <label for="float-input">Contraseña</label>
            </span>
        </div>
    </div>
    <p-footer>
        <div>
            <button pButton type="button" class="p-button-raised p-button-rounded">Registrarse</button>
        </div>
    </p-footer>
    
</p-dialog>


<!--
    <div class="topnav">
            <a href="https://utec.edu.uy/" class="navbar-logo">
                <img src="https://wordpress-utec.s3.amazonaws.com/uploads/2017/12/Logo-png-2.png">
            </a>
            <ul class="nav navbar-nav navbar-center">
                <a>LIBRETA DIGITAL</a>
            </ul>
            <ul class="botones">
                <button pButton type="button" (click)="displayEditDialog1 = true" (click)="displayEditDialog2 = false" class="p-button-raised p-button-rounded">INGRESAR</button>
                <button pButton type="button" (click)="displayEditDialog2 = true" (click)="displayEditDialog1 = false" class="p-button-raised p-button-rounded"> REGISTRARSE</button>
            </ul>
    </div>

-->


<p-menubar [model]="items" [styleClass]="" [style]="{'width':'100%'}">
    <ng-template pTemplate="start">
        <a href="https://utec.edu.uy/" class="navbar-logo">
            <img src="https://wordpress-utec.s3.amazonaws.com/uploads/2017/12/Logo-png-2.png">
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <ul class="botones">
            <button pButton type="button" (click)="displayEditDialog1 = true" (click)="displayEditDialog2 = false"  class="p-button-raised p-button-rounded">INGRESAR</button>
            <button pButton type="button" (click)="displayEditDialog2 = true" (click)="displayEditDialog1 = false" class="p-button-raised p-button-rounded"> REGISTRARSE</button>
        </ul>
    </ng-template>
</p-menubar>
