<p-card header="Estudiantes del Curso"
    styleClass="p-card-shadow p-p-3 p-mt-3">
    <ng-container *ngIf="rol && rol.includes('DOCENTE')">

        <p-dropdown id="calificaciones" placeholder="Seleccione una Calificación" [options]="calificaciones"
            optionValue="id" optionLabel="titulo" (onChange)="calificacionFunction($event)"></p-dropdown>

    </ng-container>
    <form [formGroup]="form" (ngSubmit)="ngOnSubmitCalificaciones()">

        <p-table [columns]="cols" [value]="estudiantesCurso" [responsive]="true" [scrollLeft]="true"
            styleClass="p-datatable-gridlines p-datatable-striped" dataKey="id" editMode="row">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <ng-container *ngIf="rol && rol.includes('ADMIN')">
                        <th>Acciones</th>
                    </ng-container>
                    <ng-container *ngIf="calificacion && rol && rol.includes('DOCENTE')">
                        <th>{{calificacion.titulo}}</th>
                    </ng-container>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudiante_curso let-editing="editing" let-ri="rowIndex"
                let-columns="columns">
                <tr [pEditableRow]="estudiante_curso">
                    <td *ngFor="let col of columns">
                        <span class="p-column-title">{{col.header}}</span>
                        {{estudiante_curso.estudiante[col.field]}}
                    </td>
                    <ng-container *ngIf="rol && rol.includes('ADMIN')">
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-mr-2"
                                (click)="ngOnDelete(estudiante_curso.id)">
                            </button>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="calificacion && rol && rol.includes('DOCENTE')">
                        <td>
                            <div class="p-fluid">
                                <div class="p-field">
                                    <p-inputNumber
                                        *ngIf="!calificado(estudiante_curso.estudiante.id); else valorCalificacion"
                                        [ngModel]="0" [formControlName]="estudiante_curso.estudiante.id" mode="decimal"
                                        [showButtons]="true" [min]=1 [max]="maxCalificacion">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </td>
                        <ng-template #valorCalificacion>
                            <td>

                                <div class="p-grid p-ai-center vertical-container">
                                    <div class="p-col">
                                        <div class="box">
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <p-inputNumber
                                                        [(ngModel)]="calificado(estudiante_curso.estudiante.id).nota"
                                                        [ngModelOptions]="{standalone: true}" [min]=1
                                                        [max]="maxCalificacion" mode="decimal">
                                                    </p-inputNumber>
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{calificado(estudiante_curso.estudiante.id).nota}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </div>
                                    </div>
                                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                        icon="pi pi-pencil" class="p-button-rounded p-button-warning"
                                        (click)="onRowEditInit(estudiante_curso.estudiante, ri)"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                        icon="pi pi-check" (click)="onRowEditSave(estudiante_curso.estudiante,ri)"
                                        class="p-button-rounded p-button-text p-button-success"></button>
                                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                        icon="pi pi-times" (click)="onRowEditCancel(ri,estudiante_curso.estudiante.id)"
                                        class="p-button-rounded p-button-text p-button-danger"></button>
                                    <div class="p-col">

                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger"
                                            (click)="onDelete(estudiante_curso.estudiante.id)">
                                        </button>
                                    </div>
                                </div>

                            </td>
                        </ng-template>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>


        <ng-container *ngIf="calificacion && rol && rol.includes('DOCENTE')">
            <button pButton pRipple type="submit" label="Confirmar calificaciones" icon="pi pi-check"
                class="p-button-rounded p-button-primary p-mt-3"></button>
        </ng-container>


    </form>
    <ng-container *ngIf="rol && rol.includes('ADMIN')">
        <button pButton pRipple type="button" label="Agregar Estudiante"
            class="p-button-rounded p-button-primary p-mt-3" (click)="showAgregarEstudianteDialog()"></button>
    </ng-container>
</p-card>

<ng-container *ngIf="rol && rol.includes('ADMIN')">
    <p-dialog header="Agregar Estudiante" [(visible)]="displayAgregarEstudianteDialog"
        [breakpoints]="[{'960px': '75vw'}]" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <form [formGroup]="agregarEstudianteForm" (ngSubmit)="ngOnSubmit()">
            <div class="p-grid p-formgrid p-flex-column p-fluid">
                <div class="p-col p-mt-3">
                    <p-dropdown formControlName="estudiante" id="estudiante" [options]="estudiantes" optionValue="id"
                        [(ngModel)]="selectedEstudiante" placeholder="Seleccione un Estudiante">

                        <ng-template pTemplate="selectedItem">
                            {{selectedEstudiante.primerNombre + ' ' + selectedEstudiante.segundoNombre + ' ' +
                            selectedEstudiante.primerApellido + ' ' + selectedEstudiante.segundoApellido}}
                        </ng-template>

                        <ng-template let-estudiante pTemplate="item">
                            {{estudiante.primerNombre + ' ' + estudiante.segundoNombre + ' ' +
                            estudiante.primerApellido
                            + ' ' + estudiante.segundoApellido}}
                        </ng-template>

                    </p-dropdown>
                </div>
                <div class="p-col p-mt-5">
                    <p-button type="submit" label="Agregar" icon="pi pi-plus"></p-button>
                </div>
            </div>
        </form>
    </p-dialog>


</ng-container>


<p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle"></p-confirmDialog>