<p-card header="Cursos" styleClass="p-card-shadow p-p-3 p-mt-3">
  <p-table [columns]="cols" [value]="cursos" [scrollLeft]="true" styleClass="p-datatable-gridlines p-datatable-striped"
    [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>Acciones</th>
        <!-- <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Programa</th>
        <th>Acción</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-curso let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span class="p-column-title">{{col.header}}</span>
          {{curso[col.field]}}
      </td>
        <!-- <td>{{ curso.id }}</td>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.descripcion }}</td>
        <td>{{ curso.programa }}</td> -->
        <td>
          <ng-container *ngIf="rol && rol.includes('DOCENTE')">
            <button pButton pRipple type="button" icon="pi pi-calendar-plus" [routerLink]="['/curso/clases', curso.id]"
              class="p-button-rounded p-button-warning p-mr-2"></button>
            <button pButton pRipple type="button" icon="pi pi-percentage"
              [routerLink]="['/curso/calificaciones', curso.id]"
              class="p-button-rounded p-button-help p-mr-2"></button>
            <button pButton pRipple type="button" icon="pi pi-chart-bar"
              [routerLink]="['/curso/estadisticas/', curso.id]"
              class="p-button-rounded p-button-info p-mr-2"></button>
          </ng-container>
          <ng-container *ngIf="rol && rol.includes('ADMIN')">
            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="showEditarCursoDialog(curso)"
              class="p-button-rounded p-button-warning p-mr-2"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
              (click)="ngOnDelete(curso.id)"></button>
          </ng-container>
          <button pButton pRipple type="button" icon="pi pi-users" [routerLink]="['/curso/estudiantes', curso.id]"
            class="p-button-rounded p-button-primary p-mr-2"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog header="Editar curso" [(visible)]="displayEditarCursoDialog" [breakpoints]="[{ '960px': '75vw' }]"
  [style]="{ width: '50vw' }" [baseZIndex]="10000">
  <form [formGroup]="editarCursoForm" (ngSubmit)="ngOnSubmitEdit()">
    <div class="p-grid p-formgrid p-flex-column p-fluid">
      <div class="p-col">
        <p-message *ngIf="!editarCursoForm.valid" severity="error" text="Fatan Campos"></p-message>
        <p-message *ngIf="message" severity="{{ message.type }}" text="{{ message.msg }}"></p-message>
      </div>
      <div class="p-col p-mt-3">
        <span class="p-float-label">
          <input id="nombre" type="text" [(ngModel)]="selectedCurso.nombre" formControlName="nombre" pInputText />
          <label for="nombre">Nombre</label>
        </span>
      </div>
      <div class="p-col p-mt-3">
        <span class="p-float-label">
          <input id="descripcion" type="text" [(ngModel)]="selectedCurso.descripcion" formControlName="descripcion"
            pInputText />
          <label for="descripcion">Descripcion</label>
        </span>
      </div>
      <div class="p-col p-mt-3">
        <span class="p-float-label">
          <input id="programa" type="text" [(ngModel)]="selectedCurso.programa" formControlName="programa" pInputText />
          <label for="programa">Programa</label>
        </span>
      </div>
      <div class="p-col p-mt-3">
        <span class="p-float-label">
          <p-dropdown formControlName="docentes" id="docentes" [(ngModel)]="selectedCurso.docente" [options]="docentes"
            optionValue="id" optionLabel="userName"></p-dropdown>
          <label for="docentes">Docente</label>
        </span>
      </div>
      <div class="p-col p-mt-5">
        <p-button type="submit" label="Confirmar" icon="pi pi-check"></p-button>
      </div>
    </div>
  </form>
</p-dialog>

<p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle"></p-confirmDialog>