/* You can add global styles to this file, and also import other style files */
 body{
    padding: 2rem;
    background-color: #1E1E1E;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    
 }

h1 { color: white; }